//colors
$color_wild_sand_approx: #f5f5f5;
$color_mine_shaft_approx: #333;
$color_steel_blue_approx: #337ab7;
$white: #fff;
$color_willow_brook_approx: #dff0d8;
$color_killarney_approx: #3c763d;
$color_solitaire_approx: #fcf8e3;
$color_pesto_approx: #8a6d3b;
$color_vanilla_ice_approx: #f2dede;
$color_apple_blossom_approx: #a94442;
$color_link_water_approx: #ffffff;
$color_calypso_approx: #31708f;
$color_cloud_burst_approx: #22334d;
$gray:  grey;
$black_15: rgba(0,0,0,.15);
$color_fern_approx: #5cb85c;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_chestnut_rose_approx: #d9534f;
$white_15: rgba(255,255,255,.15);

//@extend-elements
//original selectors
//.jumbotron-overlay-down *, .jumbotron-overlay-left *, .jumbotron-overlay-right *, .jumbotron-overlay-up *
%extend_1 {
	padding: 30px 15px;
	margin-bottom: 30px;
	clear: both;
}

//original selectors
//.list-group-item-overlay-down *, .list-group-item-overlay-left *, .list-group-item-overlay-right *, .list-group-item-overlay-up *
%extend_2 {
	clear: both;
	margin-right: auto;
	margin-top: auto;
}

//original selectors
//.progress-bar-overlay-danger, .progress-bar-overlay-info, .progress-bar-overlay-primary, .progress-bar-overlay-success, .progress-bar-overlay-warning
%extend_3 {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	animation: animation-one 2s;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 200ms cubic-bezier(0.865,.095,.625,.78);
	//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
	transition-timing-function: cubic-bezier(0.865,.095,.625,.78);
}


@charset "utf-8";
.panel-body {
	position: relative;
	overflow: hidden;
	clear: both;
	&:hover {
		.panel-default-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-default-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-default-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-default-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		.panel-primary-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-primary-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-primary-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-primary-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		.panel-success-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-success-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-success-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-success-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		.panel-warning-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-warning-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-warning-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-warning-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		.panel-danger-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-danger-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-danger-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-danger-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		.panel-info-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.panel-info-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.panel-info-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.panel-info-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
	}
}
.panel-default-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	margin: 0 auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-default-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-default-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-default-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-primary-overlay-up {
	font-size: inherit;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_steel_blue_approx;
	color: $white;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-primary-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_steel_blue_approx;
	color: $white;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-primary-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_steel_blue_approx;
	color: $white;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-primary-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_steel_blue_approx;
	color: $white;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-success-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_willow_brook_approx;
	visibility: hidden;
	opacity: 0;
	color: $color_killarney_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-success-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_willow_brook_approx;
	visibility: hidden;
	opacity: 0;
	color: $color_killarney_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-success-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_willow_brook_approx;
	color: $color_killarney_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-success-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_willow_brook_approx;
	color: $color_killarney_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-warning-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_solitaire_approx;
	color: $color_pesto_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-warning-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_solitaire_approx;
	color: $color_pesto_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-warning-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_solitaire_approx;
	color: $color_pesto_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-warning-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_solitaire_approx;
	color: $color_pesto_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-danger-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_vanilla_ice_approx;
	color: $color_apple_blossom_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-danger-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_vanilla_ice_approx;
	color: $color_apple_blossom_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-danger-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_vanilla_ice_approx;
	color: $color_apple_blossom_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-danger-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_vanilla_ice_approx;
	color: $color_apple_blossom_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-info-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_link_water_approx;
	color: $color_calypso_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-info-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_link_water_approx;
	color: $color_calypso_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-info-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_link_water_approx;
	color: $color_calypso_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.panel-info-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_link_water_approx;
	color: $color_calypso_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
}
.jumbotron {
	position: relative;
	overflow: hidden;
	clear: both;
	&:hover {
		.jumbotron-overlay-up {
			z-index: 1;
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.jumbotron-overlay-down {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.jumbotron-overlay-left {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.jumbotron-overlay-right {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
	}
}
.jumbotron-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_cloud_burst_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_1;
	}
}
.jumbotron-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_cloud_burst_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_1;
	}
}
.jumbotron-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_cloud_burst_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_1;
	}
}
.jumbotron-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_cloud_burst_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_1;
	}
}
.list-group {
	position: relative;
}
.list-group-item {
	position: relative;
	overflow: hidden;
	clear: both;
	&:hover {
		.list-group-item-overlay-up {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		.list-group-item-overlay-down {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		.list-group-item-overlay-left {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		.list-group-item-overlay-right {
			visibility: visible;
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
	}
}
.list-group-item-overlay-down {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	padding: 10px 15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_2;
	}
}
.list-group-item-overlay-left {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	padding: 10px 15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_2;
	}
}
.list-group-item-overlay-right {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	padding: 10px 15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_2;
	}
}
.list-group-item-overlay-up {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_wild_sand_approx;
	color: $color_mine_shaft_approx;
	visibility: hidden;
	opacity: 0;
	padding: 10px 15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	* {
		@extend %extend_2;
	}
}
.thumbnail {
	max-width: 400px;
	position: relative;
	overflow: hidden;
	&:hover {
		#caption-up {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		#caption-down {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
		}
		#caption-left {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-100%);
		}
		#caption-right {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(100%);
		}
		#caption-half-down {
			visibility: visible;
			opacity: .9;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(100%);
			height: 50%;
		}
		#caption-half-up {
			visibility: visible;
			opacity: .9;
			height: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
	}
}
#caption-down {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: auto;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	h4 {
		color: $white;
	}
	h5 {
		color: $white;
	}
	h6 {
		color: $white;
	}
	p {
		color: $white;
	}
}
#caption-down>h1 {
	color: $white;
}
#caption-down>h2 {
	color: $white;
}
#caption-down>h3 {
	color: $white;
}
#caption-half-down {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	border-bottom: ridge $gray 1px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	text-align: center;
	h1 {
		color: $white;
	}
	h2 {
		color: $white;
	}
	h3 {
		color: $white;
	}
	h4 {
		color: $white;
	}
	h5 {
		color: $white;
	}
	h6 {
		color: $white;
	}
	p {
		color: $white;
	}
}
#caption-left {
	position: absolute;
	bottom: 0;
	left: 100%;
	width: 100%;
	height: auto;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	h1 {
		color: $white;
	}
	h2 {
		color: $white;
	}
	h3 {
		color: $white;
	}
	h4 {
		color: $white;
	}
	h5 {
		color: $white;
	}
	h6 {
		color: $white;
	}
	p {
		color: $white;
	}
}
#caption-right {
	position: absolute;
	bottom: 0;
	left: -100%;
	width: 100%;
	height: auto;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	h1 {
		color: $white;
	}
	h2 {
		color: $white;
	}
	h3 {
		color: $white;
	}
	h4 {
		color: $white;
	}
	h5 {
		color: $white;
	}
	h6 {
		color: $white;
	}
	p {
		color: $white;
	}
}
#caption-up {
	position: absolute;
	top: 100%; left:0;
	width: 100%;
	height: auto;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	margin-left: -4px;
	margin-top: 4px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	h1 {
		color: $white;
	}
	h2 {
		color: $white;
	}
	h3 {
		color: $white;
	}
	h4 {
		color: $white;
	}
	h5 {
		color: $white;
	}
	h6 {
		color: $white;
	}
	p {
		color: $white;
	}
}
#caption-half-up {
	position: absolute;
	top: 100%; left:0;
	margin-left: -4px;
	margin-top: 4px;
	border-top: ridge $gray 1px;
	width: 100%;
	height: auto;
	background-color: $color_cloud_burst_approx;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s ease-in-out;
	text-align: center;
	h1 {
		color: $white;
		margin-top: 5%;
	}
	h2 {
		color: $white;
		margin-top: 5%;
	}
	h3 {
		color: $white;
		margin-top: 5%;
	}
	h4 {
		color: $white;
		margin-top: 5%;
	}
	h5 {
		color: $white;
		margin-top: 5%;
	}
	h6 {
		color: $white;
		margin-top: 5%;
	}
	p {
		color: $white;
		margin-top: 5%;
	}
	a {
		margin-top: 5%;
	}
	button {
		margin-top: 5%;
	}
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: $white;
	text-align: center;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 -1px 0 $black_15;
	background-color: transparent;
}
.progress-bar-overlay-danger {
	@extend %extend_3;
	background-color: $color_chestnut_rose_approx;
}
.progress-bar-overlay-info {
	@extend %extend_3;
	background-color: $color_viking_approx;
}
.progress-bar-overlay-primary {
	@extend %extend_3;
	background-color: $color_steel_blue_approx;
}
.progress-bar-overlay-success {
	@extend %extend_3;
	background-color: $color_fern_approx;
}
.progress-bar-overlay-warning {
	@extend %extend_3;
	background-color: $color_casablanca_approx;
}
.progress-bar-success {
	background-color: $color_fern_approx;
}
.progress-bar-info {
	background-color: $color_viking_approx;
}
.progress-bar-warning {
	background-color: $color_casablanca_approx;
}
.progress-bar-danger {
	background-color: $color_chestnut_rose_approx;
}
.progress-striped {
	.progress-bar-overlay-danger {
		background-image: linear-gradient(45deg,$white_15 25%,transparent 25%,transparent 50%,$white_15 50%,$white_15 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		&.active {
			animation: animation-one 2s,progress-bar-stripes 2s linear infinite;
		}
	}
	.progress-bar-overlay-info {
		background-image: linear-gradient(45deg,$white_15 25%,transparent 25%,transparent 50%,$white_15 50%,$white_15 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		&.active {
			animation: animation-one 2s,progress-bar-stripes 2s linear infinite;
		}
	}
	.progress-bar-overlay-primary {
		background-image: linear-gradient(45deg,$white_15 25%,transparent 25%,transparent 50%,$white_15 50%,$white_15 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		&.active {
			animation: animation-one 2s,progress-bar-stripes 2s linear infinite;
		}
	}
	.progress-bar-overlay-success {
		background-image: linear-gradient(45deg,$white_15 25%,transparent 25%,transparent 50%,$white_15 50%,$white_15 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		&.active {
			animation: animation-one 2s,progress-bar-stripes 2s linear infinite;
		}
	}
	.progress-bar-overlay-warning {
		background-image: linear-gradient(45deg,$white_15 25%,transparent 25%,transparent 50%,$white_15 50%,$white_15 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		&.active {
			animation: animation-one 2s,progress-bar-stripes 2s linear infinite;
		}
	}
}
@-webkit-keyframes animation-one {
	0% {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 200ms cubic-bezier(0.865,.095,.625,.78);
		//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
		transition-timing-function: cubic-bezier(0.865,.095,.625,.78);
		width: 0;
	}
	100% {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 200ms cubic-bezier(0.865,.095,.625,.78);
		//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
		transition-timing-function: cubic-bezier(0.865,.095,.625,.78);
		width: 100%;
	}
}
@-moz-keyframes animation-one {
	100% {
		width: 100%;
	}
}
@-o-keyframes animation-one {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes animation-one {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}
@-o-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}
@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}