


div{

.thumbnail {
    
    box-shadow: 0px 0px 0px  grey;
    border-radius: 10px;
    background-color: $hintergrund;
   
   
   
            }
    
 
    
      .amazonpics {
     background-color:transparent;
         &:hover,  &:focus {
    background-color: white; }
    
    }
    
  
}
 .panel-title {  
                         background-color: #f5f5f5 !important;  font-family: monospace;
    color:black;
    font-weight: bolder;
    box-shadow: none}




// Bestellpacketfarben
.basic {
                 background-color: #f5f5f5 !important;
         
             .panel-title {  

                 background-color: #f5f5f5 !important;
                   font-family: monospace;
    color:black;
    font-weight: bolder};
    
    }
.advanced {
                 background-color: #f5f5f5 !important;
                   .panel-title { 
                       background-color: #f5f5f5 !important;   font-family: monospace;
   color:black;
    font-weight: bolder};}
.deluxe {
                 background-color: #f5f5f5 !important;
                     .panel-title {  
                         background-color: #f5f5f5 !important;  font-family: monospace;
   color:black;
    font-weight: bolder}
    }
.important {
                 background-color: red !important; }
.top {
                 color: fade-out(red, .5) !important;
                 font-size: 1em;
                 }
           
 .center {  
            align-content: center;
            text-align: center;
            align-items: center;
 
     .div {margin: 20px auto;
     max-width: 500px; }
 }

//Laufschrift

@keyframes marquee {
 0%   { text-indent: -50% }
 100% { text-indent: 100% }
}

.marquee {

 margin: auto;
 padding: 2px;
 overflow: hidden;
 white-space: nowrap;
 border: none;
 animation: marquee 10s linear infinite;
}

.marquee:hover {
 animation-play-state: paused;
}

.thumb {
    margin-bottom: 30px;
    margin-right: -13px;
  
}

.thumbnail {
    box-shadow: none;
    border: none;
}
.panel {
        border: none;
    box-shadow: none;
}