// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #373d44;

// header Navigationsbarfarben und Buttons

$bgDefault      : #ffffff;
$bgHighlight    : #156314;
$colDefault     : #074f16;
$colHighlight   : #156314;
$colHighlight2   : rgba(44, 204, 42, 0.62);

//Allgemeine Theme COLORS Einstellungen

$hintergrund     : #ffffff;
$linkfarbe    : #156314;
$themefarbe     : #074f16;