@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "components/_bootstrap-overlay";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

div.toptitle{

height: 45px;

}

@media only (max-width: 520px){
   div.toptitle{  height: 125px; }
  }


td.tdwidht {
    width: 100%!important;
}

.single-product #sidebar {
display: none;
}

.single-product .navbar {
display: none;
}
.single-product .footer {
display: none;
}


.modal-dialog{
      overflow-y: initial !important
}
.modal-body{

  overflow-y: auto;
}


.list-group-item.active.list-group-item.active.list-group-item.active{
        
        color:aqua !important;
        background-color: rgba(138, 255, 170, 0.29) !important;

        } 

.smallpadding{
    padding: 2px !important;
 
}
.mtwen{
    margin:20px;
}
.mtwenbotmin{
    margin-bottom:40px;
}


.noborder {
    border-right: none;
     border-left: none;
      border-top: none;
    box-shadow: none;
    border-color: transparent;
}

.circle {
    background: rgba(255, 0, 0, 0.33);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    margin-top: -90px;
    margin-left: 140px;

    text-align: center;
    color: white;
    font-size: 1.6em;
    padding-top: 35px;
  
    box-shadow: inset -2px -2px 100px #000, 5px 5px 20px grey, inset 0px 0px 1px black;


}
 .csecond{
   background: rgba(255, 0, 0, 0.33)!important;    
 }
 .cthird{
     
background: rgba(255, 0, 0, 0.33)!important;

 }

.inputstyle {width:25px; height:25px;}