
$dropDown       : false;

.navmargin{
  z-index:10;
  position: relative;
  margin-top: -20px;}

    .logo{ 
        margin-top: -22px;
        z-index: 100;
        @media(max-width:767px) {
           margin-top: -11px;
            max-width:50px;}}
.search{ 
       
       
    margin: 20px 0px 5px -30px;
  
        z-index: 100;
   
    @media(max-width:767px) {
          margin: 5px 0px 5px -30px;
  
        z-index: 100;}
       }
.navbar-header { 
    margin-bottom: -70px;    
        margin-top: 40px; 
        z-index: 100;
    width:100%;
        @media(max-width:767px) {
          margin: 0px 0px 0px 0px;
            width:100%;
            }

.dropdown-menu {
    margin-left:-430px;
    
   
    width: 500px !important;
    height: 400px !important;
  overflow: scroll;
}


}

.navbar-default {
  background-color: $bgDefault;
    border-bottom: 0px  white;
    
  margin-top: -30px;
     @media(max-width:767px) {margin-top: 0px;}
    .navbar-brand{
        z-index: 100;
         margin-bottom: 10px;
        
    }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
      border-bottom: 5px solid white;
   width: 100%;
    text-align: center;
      
    > li {
        float: none;
        display:inline-block;
        @media(max-width:767px) {display: block;}
        
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight2;
       }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $bgDefault;
        background-color: $bgHighlight; 
      }}
    > .open {float: none;
      > a, > a:hover, > a:focus {
        color: $bgDefault;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
      
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}

  .navbar-link {
       float: none;
      display: block;
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}
.container{  @media(max-width:767px) {
          margin-left:30px;

   }}
     h1{
     
        
 font-family: headingfont !important;
 font-size: 1.5em;

     
      @media(max-width:767px) { font-size: 1.5em;}
         @media(max-width:542px) { font-size: 1.5em; }
         @media(max-width:420px) { font-size: 1.0em; margin-left: 20px; margin-bottom:-30px; .hsize{font-size: 2.0em}}
        @media(max-width:346px) { font-size: 0.7em; }
     
       }
    
}
@font-face{ 
	font-family: 'headingfont';
	src: url('../fonts/1942.eot');
	src: url('../fonts/1942.eot?iefix') format('eot'),
	     url('../fonts/1942.woff') format('woff'),
	     url('../fonts/1942.ttf') format('truetype'),
	     url('../fonts/1942.svg#webfont') format('svg');
        font-weight: normal;
    font-style: normal;
}

 .page-heading {  
            align-content: center;
            text-align: center;
            align-items: center;
            display:inline-block;
            margin-top:-5px;
       
   
    
     
 }
themefont{
     
        
 font-family: headingfont !important;
 font-size: 3em;

     
      @media(max-width:767px) { font-size: 2em;}
   
       
     
       }
.searchform {
        float:right; 
           margin-top: -30px;    

 
    }

    

.searchformsecond  {
 text-align: center;


margin-top: -40px;
}


@media(max-width:767px) {

      .navbar-nav {
      border-bottom: 5px solid white;
   width: 100%;
    text-align: center;
      
    > li {
        float: none;
      display: block;  }}

      .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    
    .navbar-default .navbar-nav .open .dropdown-menu .navbar-toggle {

      
    > li {
         float: none;
      display: block;  
      
        > a {
      color: $bgDefault;
      &:hover, &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $bgDefault;
        background-color: $bgHighlight; }}}
}

