/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}







/********************************/
/*          Main CSS     */
/********************************/
.sliderfix {position:relative;
width: 165%; left:-32.5%; margin:0px; margin-top: - 20px;}
.bodyfix{margin-top: - 20px;}



#first-slider .main-container {
  padding: 0;

}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
  margin-bottom: 40px;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-double-right, .carousel-control .fa-angle-double-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-double-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.carousel-control .fa-angle-double-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
   -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(../images/1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(../images/2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url(../images/3.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url(../images/4.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}

.checkbox {margin-top:-10px}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/********************************/
/*          Media Queries       */
/********************************/

@media screen and (max-width: 782px){
      .sliderfix {position:relative;
width: 173%; left:-36.5%; margin:0px; margin-top:-80px;
  transform: scale(0.6);
  }

  .bodyfix{margin-top: -100px;}
.navmargin{
  z-index:10;
  position: relative;
  margin-top: 10px;}

}
@media only screen 
and (min-device-width : 783px) 
and (max-device-width : 991px)  {   .sliderfix {position:relative;
width: 180%; left:-40%; margin:0px; margin-top:-80px;
  transform: scale(0.6);

  }
  .navmargin{
  z-index:10;
  position: relative;
  margin-top: 10px;}
  .bodyfix{margin-top: -100px;}
  
  }

  @media only screen 
and (min-device-width : 992px) 
and (max-device-width : 1024px)  {   .sliderfix {position:relative;
width: 180%; left:-40%; margin:0px; margin-top:-80px;
  transform: scale(0.6);

  }
  
  .bodyfix{margin-top: -100px;}
  
  }
  @media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1224px)  {   .sliderfix {position:relative;
width: 174%; left:-37%; margin:0px; margin-top:-80px;
  transform: scale(0.6);

  }
  
  .bodyfix{margin-top: -100px;}
  
  }
  @media only screen 
and (min-device-width : 1224px) 
and (max-device-width : 1280px)  {   .sliderfix {position:relative;
width: 180%; left:-40%; margin:0px; margin-top:-80px;
  transform: scale(0.6);

  }
  
  .bodyfix{margin-top: -100px;}
  
  }
  @media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1440px)  {   .sliderfix {position:relative;
width: 174%; left:-37%; margin:0px; margin-top:-80px;
  transform: scale(0.6);

  }
  
  .bodyfix{margin-top: -100px;}
  
  }
